body {
  background-color:#c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.5rem;
}

header {
  color:#3f1622;
  font-weight: bold;
  font-size: 1.5rem;
}

h1 {
  color:#3f1622;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
}

nav a {
  color: #8f2440;
  font-weight: bold;
  font-size:1.125rem;
}

a:hover {
  color:#3f1622;
  text-decoration: underline;
}

img {
  width: 100%;
}

p {
  color: #222;
}

figcaption {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 0.8rem;
}

blockquote{
  font-size: 1.5rem;
  font-style: italic;
}

p data {
  font-weight: bold;
  font-style: normal;
  font-size: 1.125rem;
}

blockquote cite {
  font-size: 0.8rem;
  font-weight: normal;
}

h2 {
  color: #3f1622;
  font-weight: bold;
  font-size: 1.125rem;
  text-align: left;
  font-family: "PT Sans", sans-serif;
}

ol li {
  list-style-type:lower-greek;
  font-size: 0.8rem;
  font-weight: normal;
}
nav ol li{
  list-style-type: none;
}

dt {
  color: #222;
  font-size: 0.8rem;
  font-weight: bold;
}

ul li {
  list-style-type:circle;
  font-size: 0.8rem;
  font-style: normal;
  color: #222;
}

footer small {
  font-size: 0.8rem;
  color: #222;
  text-align: left;
}

.Wikipedia a {
  color: #8f2440;
  text-decoration: underline;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}
