body {
  background-color:#c9b5ab;
  font-family: "PT Sans", sans-serif;
  font-family: "PT Serif", serif;
  line-height: 1.5rem;
}

header {
  color:#3f1622;
  font-weight: bold;
  font-size: 1.5rem;
}

h1 {
  color:#3f1622;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
}

nav a {
  color: #8f2440;
  font-weight: bold;
  font-size:1.125rem;
}

a:hover {
  color:#3f1622;
  text-decoration: underline;
}

img {
  width: 100%;
}

figcaption {
  color: #222;
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
}

p {
  color: #222;
  font-weight: bold;
  font-size: 1.125rem;
}

p {
  color: #222;
  font-size: 0.8rem;
  font-style:normal;
  font-weight: normal;
}

.beetroot {
  color: #222;
  font-weight: bold;
}

p {
  color: #222;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: normal;
}

.BattlestarGalactica {
  color: #222;
  font-style: italic;
}

p {
  color: #222;
  font-size: 0.8rem;
  font-style:normal;
}

.weird {
  color: #222;
  font-style: italic;
}

p {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 1.125rem;
}

.chrispratt {
  font-size: 0.8rem;
  font-weight: normal;
}

h2 {
  color: #3f1622;
  font-weight: bold;
  font-size: 1.125rem;
  text-align: left;
}

ol li {
  list-style-type:lower-greek;
  font-size: 0.8rem;
  font-weight: normal;
}

p {
  color: #222;
  font-size: 0.8rem;
  font-style: italic;
}

dl li:nth-child(even) {
  color: #222;
  font-size: 0.8rem;
  font-weight: normal;
}

dl li:nth-child(odd) {
  font-size: 0.8rem;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  color: #222;
}

ul li {
  list-style-type:circle;
  font-size: 0.8rem;
  font-style: normal;
  color: #222;
}

footer {
  font-size: 0.8rem;
  color: #222;
  text-align: left;
}

.Wikipedia a {
  color: #8f2440;
  text-decoration: underline;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}
